/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: url('https://lh3.googleusercontent.com/proxy/U765zHnhuVhqsLF1tpCToXKWy_FZ9I0EIyVOT7utzzUwDL8cS04Kokchlj4yiMv8rcNCvou6Q-wbHXH457Q7gjfdiF52z1At2JoyaZheH1gK');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
  }
  
  .container {
    background: linear-gradient(135deg, #f397ff8c 30%, #cc97d6a8 60%);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    margin-bottom: 1.5rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  a.button {
    display: block;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  a.button:hover {
    background-color: #0056b3;
  }
  